<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meet & Talk</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="demo.css" type="text/css" media="all" />
    </head>
    <body>
        <button id="button">Send</button>
        <video id="video" style="width:800px;height:600px" autoplay="true"></video>
        <canvas id="preview"></canvas>
        <div id="status"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="demo.js"></script>
    </body>
</html>
