<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meet & Talk</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="styles.css" type="text/css" media="all" />
        <link rel="stylesheet" href="login.css" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <script defer src="https://kit.fontawesome.com/743152b0c5.js"></script>
    </head>
    <body class="login">
        <video src="login.mp4" autoplay="true" muted="true" loop="true"></video>
        <article>
            <header>
                <figure>
                    <img src="logotype_white.png">
                </figure>
            </header>
            <main>
                <a href="/meet" class="fb"><i class="fab fa-facebook"></i> Login with Facebook</a>
                <a href="/meet" class="go"><i class="fab fa-google"></i> Login with Google</a>
                <a href="/meet" class="ph"><i class="fas fa-mobile"></i> Login with phone</a>
                <a href="/meet" class="sg"><i class="fas fa-user-plus"></i> or Signup</a>
            </main>
            <footer>
                <p>Copyright (C) Meet & Talk SA de CV</p>
                <p>By using Meet & Talk you are accepting our <a href="/terms">Terms & conditions</a> and our <a href="/privacy">Privacy policies</a></p>
            </footer>
        </article>
    </body>
</html>
