<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meet & Talk | Meet</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="styles.css" type="text/css" media="all" />
        <link rel="stylesheet" href="meet.css" type="text/css" media="all" />
    </head>
    <body class="meet">
        <video id="video" autoplay="true"></video>
        <canvas id="canvas"></canvas>
        <article>
            <header>
                <figure>
                    <img src="logotype_white.png">
                </figure>
                <a href="/profile/coins">
                    + 1200
                    <figure>
                        <img src="coin.png">
                    </figure>
                </a>
            </header>
            <main>
                <div>
                    <a><i class="fas fa-globe"></i>Español</a>
                    <a><i class="fas fa-globe-americas"></i>México</a>
                    <a><i class="fas fa-female"></i>Female</a>
                </div>
                <div>
                    <a href="/meet/random"><i class="fas fa-random"></i>Random</a>
                    <a href="/meet/stories"><i class="fas fa-smile"></i>Stories</a>
                    <a href="/meet/models"><i class="fas fa-star"></i>Goddesses</a>
                </div>
            </main>
            <footer>
                <a href="/profile">
                    <figure>
                        <img src="user_1.png">
                    </figure>
                </a>
                <a href="/meet"><i class="fas fa-video"></i></a>
                <a href="/chats"><i class="fas fa-comment-alt"></i></a>
            </footer>
        </article>
        <script src="https://kit.fontawesome.com/743152b0c5.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="meet.js"></script>
    </body>
</html>
