<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meet & Talk | Profile</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="styles.css" type="text/css" media="all" />
        <link rel="stylesheet" href="profile.css" type="text/css" media="all" />
    </head>
    <body class="profile">
        <article>
            <header>
                <figure>
                    <img src="logotype_white.png">
                </figure>
                <figure>
                    <img src="user_1.png">
                </figure>
                <div>
                    <h1>Gersón Gómez</h1>
                    <h2>gergomez18@gmail.com</h2>
                    <h2>+ 52 (998) 157 9343</h2>
                    <div>
                        <a href="/profile/coins" class="cn"><i class="fas fa-coins"></i>+1200</a>
                        <a class="ht"><i class="fas fa-heart"></i>+281</a>
                    </div>
                </div>
            </header>
            <main>
                <div>
                    <a href="/profile/coins"><i class="fas fa-coins"></i>Buy coins<i class="fas fa-chevron-right"></i></a>
                    <a href="/profile/friends"><i class="fas fa-users"></i>Friends<i class="fas fa-chevron-right"></i></a>
                    <a href="/profile/record"><i class="fas fa-history"></i>Record<i class="fas fa-chevron-right"></i></a>
                    <a href="/profile/notifications"><i class="fas fa-bell"></i>Notifications<i class="fas fa-chevron-right"></i></a>
                    <a href="/profile/settings"><i class="fas fa-cog"></i>Settings<i class="fas fa-chevron-right"></i></a>
                    <a href="/profile/works"><i class="fas fa-briefcase"></i>Work with us<i class="fas fa-chevron-right"></i></a>
                    <a href="/terms"><i class="fas fa-align-justify"></i>Term & Conditions<i class="fas fa-chevron-right"></i></a>
                    <a href="/privacy"><i class="fas fa-key"></i>Privacy policies<i class="fas fa-chevron-right"></i></a>
                    <a href="/about">
                        <figure>
                            <img src="imagotype_pink.png">
                        </figure>
                        About us
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </main>
            <footer>
                <a href="/profile">
                    <figure>
                        <img src="user_1.png">
                    </figure>
                </a>
                <a href="/meet"><i class="fas fa-search"></i></a>
                <a href="/chats"><i class="fas fa-comment-alt"></i></a>
            </footer>
        </article>
        <script src="https://kit.fontawesome.com/743152b0c5.js"></script>
    </body>
</html>
