<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meet & Talk | Signup</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="styles.css" type="text/css" media="all" />
        <link rel="stylesheet" href="signup.css" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <script defer src="https://kit.fontawesome.com/743152b0c5.js"></script>
    </head>
    <body class="signup">
        <article>
            <header>
                <figure>
                    <img src="logotype_white.png">
                </figure>
            </header>
            <main>
                <form>
                    <input type="text" placeholder="Complete name">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Phone">
                    <input type="date" placeholder="Birthday">
                    <input type="text" placeholder="Country">
                    <input type="text" placeholder="Sex">
                    <input type="text" placeholder="Language">
                    <textarea placeholder="Biography (Tell us about you)"></textarea>
                    <a href="/login">Signup <i class="fas fa-user-plus"></i></a>
                    <a href="/login">Cancel</a>
                </form>
            </main>
            <footer>
                <p>Copyright (C) Meet & Talk SA de CV</p>
                <p>By using Meet & Talk you are accepting our <a href="/terms">Terms & conditions</a> and our <a href="/privacy">Privacy policies</a></p>
            </footer>
        </article>
    </body>
</html>
