body.meet {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

body.meet > video {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-size: cover;
}

body.meet > canvas {
    display: none;
}

body.meet > article {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

body.meet > article > header {
    width: 100%;
    height: 160px;
    padding: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

body.meet > article > header::after {
    content: '';
    display: block;
    clear: both;
}

body.meet > article > header > figure {
    width: auto;
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.meet > article > header > figure > img {
    width: auto;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

body.meet > article > header > a {
    width: auto;
    height: 80px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

body.meet > article > header > a > i {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #ffeb3b;
}

body.meet > article > main {
    width: 100%;
    height: calc(100vh - 320px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 40px 0px;
    box-sizing: border-box;
}

body.meet > article > main > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 0px 20px;
    box-sizing: border-box;
}

body.meet > article > main > div > a {
    width: calc((100% / 3) - 20px);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

body.meet > article > main > div > a > i {
    margin-bottom: 20px;
    font-size: 60px;
}

body.meet > article > footer {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

body.meet > article > footer > a {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

body.meet > article > footer > a > figure {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

body.meet > article > footer > a > figure > img {
    width: auto;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}
