<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meet & Talk | Profile | Coins</title>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="../styles.css" type="text/css" media="all" />
        <link rel="stylesheet" href="../profile.css" type="text/css" media="all" />
    </head>
    <body class="coins dashboard_style_1">
        <article>
            <header>
                <figure>
                    <img src="../logotype_pink.png">
                </figure>
                <a href="/profile/coins">
                    + 1200
                    <figure>
                        <img src="../coin.png">
                    </figure>
                </a>
            </header>
            <main>
                <a>
                    <figure>
                        <img src="../coin.png">
                    </figure>
                    <h4>+ 360</h4>
                    <h6>$ 1.97 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coin.png">
                    </figure>
                    <h4>+ 650</h4>
                    <h6>$ 3.17 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coin.png">
                    </figure>
                    <h4>+ 1,250</h4>
                    <h6>$ 5.60 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coins_1.png">
                    </figure>
                    <h4>+ 2,500</h4>
                    <h6>$ 10.40 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coins_1.png">
                    </figure>
                    <h4>+ 5,000</h4>
                    <h6>$ 19.30 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coins_1.png">
                    </figure>
                    <h4>+ 10,000</h4>
                    <h6>$ 36.75 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coins_2.png">
                    </figure>
                    <h4>+ 20,000</h4>
                    <h6>$ 71.25 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coins_2.png">
                    </figure>
                    <h4>+ 30,000</h4>
                    <h6>$ 100.00 USD</h6>
                </a>
                <a>
                    <figure>
                        <img src="../coins_2.png">
                    </figure>
                    <h4>+ 50,000</h4>
                    <h6>$ 172.50 USD</h6>
                </a>
            </main>
            <footer>
                <a href="/profile">
                    <figure>
                        <img src="../user_1.png">
                    </figure>
                </a>
                <a href="/meet"><i class="fas fa-video"></i></a>
                <a href="/chats"><i class="fas fa-comment-alt"></i></a>
            </footer>
        </article>
        <script src="https://kit.fontawesome.com/743152b0c5.js"></script>
    </body>
</html>
