<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meet & Talk | Record</title>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="../styles.css" type="text/css" media="all" />
        <link rel="stylesheet" href="../profile.css" type="text/css" media="all" />
    </head>
    <body class="record dashboard_style_1">
        <article>
            <header>
                <figure>
                    <img src="../logotype_pink.png">
                </figure>
                <a href="/profile/coins">
                    + 1200
                    <figure>
                        <img src="../coin.png">
                    </figure>
                </a>
            </header>
            <main>
                <div>
                    <a>
                        <figure>
                            <img src="../user_2.png">
                        </figure>
                        <h4>Georgina Scrachts</h4>
                        <p><i class="fas fa-video success"></i>Call (7 minutes)</p>
                        <p>10 min ago</p>
                    </a>
                    <a>
                        <figure>
                            <img src="../user_3.png">
                        </figure>
                        <h4>Marcus Smith</h4>
                        <p><i class="fas fa-video error"></i>Lost call</p>
                        <p>30 min ago</p>
                    </a>
                    <a>
                        <figure class="coins">
                            <img src="../coins_2.png">
                        </figure>
                        <h4>+ 10,000</h4>
                        <p>Bought coins</p>
                        <p>Yesterday</p>
                    </a>
                    <a>
                        <figure>
                            <img src="../user_5.png">
                        </figure>
                        <h4>Anna Stolichnaya</h4>
                        <p><i class="fas fa-video success"></i>Call (5 minutes)</p>
                        <p>28/dic/2020</p>
                    </a>
                    <a>
                        <figure>
                            <img src="../user_7.png">
                        </figure>
                        <h4>Jeff Roshford</h4>
                        <p><i class="fas fa-video success"></i>Call (8 minutes)</p>
                        <p>28/dic/2020</p>
                    </a>
                    <a>
                        <figure>
                            <img src="../user_6.png">
                        </figure>
                        <h4>Christine Pole</h4>
                        <p><i class="fas fa-video error"></i>Call rejected</p>
                        <p>27/dic/2020</p>
                    </a>
                    <a>
                        <figure>
                            <img src="../user_9.png">
                        </figure>
                        <h4>Jennifer Williams</h4>
                        <p><i class="fas fa-video success"></i>Call (10 minutes)</p>
                        <p>20/dic/20</p>
                    </a>
                    <a>
                        <figure class="coins">
                            <img src="../coins_1.png">
                        </figure>
                        <h4>+ 2500</h4>
                        <p>Bought coins</p>
                        <p>20/dic/20</p>
                    </a>
                </div>
            </main>
            <footer>
                <a href="/profile">
                    <figure>
                        <img src="../user_1.png">
                    </figure>
                </a>
                <a href="/meet"><i class="fas fa-video"></i></a>
                <a href="/chats"><i class="fas fa-comment-alt"></i></a>
            </footer>
        </article>
        <script src="https://kit.fontawesome.com/743152b0c5.js"></script>
    </body>
</html>
